DuplexClient - 1/DuplexClient/Service References/ServiceReference1/DuplexCalculator12.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DuplexCalculator12" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/DuplexService/DuplexCalculator12/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/DuplexService/DuplexCalculator12/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDuplexCalculator12_SendScreenshot_InputMessage">
    <wsdl:part name="parameters" element="tns:SendScreenshot" />
  </wsdl:message>
  <wsdl:message name="IDuplexCalculator12_SendScreenshot_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendScreenshotResponse" />
  </wsdl:message>
  <wsdl:message name="IDuplexCalculator12_newUser_InputMessage">
    <wsdl:part name="parameters" element="tns:newUser" />
  </wsdl:message>
  <wsdl:message name="IDuplexCalculator12_newUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:newUserResponse" />
  </wsdl:message>
  <wsdl:message name="IDuplexCalculator12_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IDuplexCalculator12_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:portType name="IDuplexCalculator12">
    <wsdl:operation name="SendScreenshot">
      <wsdl:input wsaw:Action="http://tempuri.org/IDuplexCalculator12/SendScreenshot" message="tns:IDuplexCalculator12_SendScreenshot_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDuplexCalculator12/SendScreenshotResponse" message="tns:IDuplexCalculator12_SendScreenshot_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="newUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IDuplexCalculator12/newUser" message="tns:IDuplexCalculator12_newUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDuplexCalculator12/newUserResponse" message="tns:IDuplexCalculator12_newUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IDuplexCalculator12/Login" message="tns:IDuplexCalculator12_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDuplexCalculator12/LoginResponse" message="tns:IDuplexCalculator12_Login_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDuplexCalculator12" type="tns:IDuplexCalculator12">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendScreenshot">
      <soap:operation soapAction="http://tempuri.org/IDuplexCalculator12/SendScreenshot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="newUser">
      <soap:operation soapAction="http://tempuri.org/IDuplexCalculator12/newUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IDuplexCalculator12/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DuplexCalculator12">
    <wsdl:port name="BasicHttpBinding_IDuplexCalculator12" binding="tns:BasicHttpBinding_IDuplexCalculator12">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/DuplexService/DuplexCalculator12/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>